@import url("https://use.typekit.net/zhm2hsd.css");

html{
    
    scroll-behavior: smooth;
}

body{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #2C2C2C;

    background: #FFFBFA;

    margin-top: 2rem;
    margin-bottom: -3rem;
    margin-right: 0px;
    margin-left: 0px;

    overflow-x: hidden;

}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}

h3{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;

    color: #5F5F5F;
}

header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
    padding-top: 0px;
    gap: 556px;

    width: auto;
    height: 45.77px;

    margin-top: 0rem;

    background-color: #FFFBFA;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;

    transition: all 0.5 ease-in-out;

    .Logo_and_title{

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 12px;
    
        width: 481.24px;
        height: 36.56px;

        .logo_text{

            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
        
            color: #E46C6C;
        
            text-decoration-line: none;
        }
    
    }

    .Social{

        box-sizing: border-box;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 12px;
        gap: 35px;
    
        width: auto;
        height: auto;
    
        border: 3px solid #CB9191;
        border-radius: 32px;

        .Linkedin{

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            width: 35.77px;
            height: 35.77px;
        
            svg{
        
                width: 23px;
                height: 23px;
        
            }
            
        }
        
        .Linkedin:hover{
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            width: 35.77px;
            height: 35.77px;
        
            background-color: #E46C6C;
            border-radius: 20px;
        
            svg{
        
                path{
        
                    fill: #FCF6F5;
                }
                
            }
        
        }
        
        .Behance{
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            width: 35.77px;
            height: 35.77px;
        
        }
        
        .Behance:hover{
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            width: 35.77px;
            height: 35.77px;
        
            background-color: #E46C6C;
            border-radius: 20px;
        
            svg{
        
                path{
        
                    fill: #FCF6F5;
                }
                
            }
        
        }
        
        .Home{
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            width: 35.77px;
            height: 35.77px;

            #H{

                scale: 0.6;
            }
            
        
        }
        
        .Home:hover{
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            width: 35.77px;
            height: 35.77px;
        
            background-color: #E46C6C;
            border-radius: 20px;
            
        
            #H{

                scale: 0.6;
        
                path{
        
                    fill: #FCF6F5;
                }
                
            }
        
        }
    
    }

}

header.sticky{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
    padding-top: 0px;
    padding-bottom: 10px;
    gap: 556px;

    transition: all 0.5 ease-in-out;

    padding-top: 1rem;

    filter: drop-shadow(0px 5px 3px rgba(255, 218, 218, 0.4));

    #Logo{

        height: 40px;
        width: 40px;
    }

}


#section{

    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 5rem;


    #container{

        display: flex;
        flex-direction: row;
        justify-content: center;

        background-color: #FFFFFF;
        border-radius: 10px;
        filter: drop-shadow(0px 7px 5px rgba(228, 108, 108, 0.2));

        gap: 3rem;

        #info{

            color: #FFFFFF;
            width: 450px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            background-image: url(/images/derrick-cooper-L505cPnmIds-unsplash.jpg);

            padding: 40px;

            border-radius: 10px 0px 0px 10px;

            span{
                width: 400px;
            }
    
            #Email{

                padding-top: 2rem;

                display: flex;
                flex-direction: row;
                gap: 20px;
            }
            
            #Phone{

                padding-top: 2rem;

                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            #ARP{

                scale: 0.5;

                margin-top: 10rem;
                margin-left: -10px;
            }
    }


    
}   

    
form{

    h2{

        display: flex;
        justify-content: center;
    }

    display: flex;
    flex-direction: column;
    align-content: flex-start;

    margin-top: 1rem;

    gap: 20px;

    width: 400px;

    background-color: #FFFFFF;
    border-radius: 10px;

    padding: 0px 40px 40px 0px;
}


form input, textarea{

    border: 0;
    border-radius: 5px;

    background-color: rgba(198, 198, 198, 0.17);

    padding: 10px 10px 10px 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #2C2C2C;
}

button{

    width: 200px;

    display: flex;
    justify-content: center;
    align-self: center;

    border: 0;
    border-radius: 5px;
    padding: 10px;

    background-color: #E46C6C;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #FFFFFF;

}

button:hover{

    width: 200px;

    display: flex;
    justify-content: center;
    align-self: center;

    border: 0;
    border-radius: 5px;
    padding: 10px;

    background-color: #a54d4d;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #FFFFFF;

    cursor: pointer;
}

}