@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{

    scroll-behavior: smooth;
}

body{

    margin: 0px;

    background-color: #37306B;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fffbfa17;
}

::-webkit-scrollbar-thumb {
    background: #66347F;
    border-radius: 10px;
}  

::-webkit-scrollbar-thumb:hover {
    background: #9E4784;
}

#Top{

    position: fixed;
    margin-left: 92vw;
    margin-top: 76vh;
    scale: 1.5;
    border: none;
    background-color: transparent;

    filter: drop-shadow(1px 3px 8px rgba(0, 0, 0, 0.2)) ;

    transition: position 0.25 ease-in-out;

    opacity: 0;

    transition: opacity 0.5 ease-in-out;

    cursor: pointer;

    z-index: 100;

}

#Return{

    position: fixed;
    margin-left: 90vw;
    margin-top: 85vh;
    scale: .7;
    border: none;
    background-color: transparent;

    filter: drop-shadow(1px 3px 8px rgba(0, 0, 0, 0.2)) ;

    transition: position 0.25 ease-in-out;

    cursor: pointer;

    z-index: 99;


}

#GT_imgs{

    display: flex;
    flex-direction: column;
    align-items: center;
    
 
    img{

        width: 1000px;
    }
    
    filter: drop-shadow(0px 6px 12px rgba(33, 5, 74, 0.818));

}